<h1>Would you like to work together?</h1>

<hr />

<div class="row">
    <div class="col-md-6">
        <h3>Email</h3>
        <p class="lead"><a href="mailto:ivette.valdez.e@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23593.549779373225!2d-7.881195215545159!3d42.3383929904763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2ffeb5bc5378eb%3A0x295326a374bca39c!2sOrense%2C%20Ourense!5e0!3m2!1ses!2ses!4v1580461781303!5m2!1ses!2ses" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
