<div class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <br />
    <p class="lead">Some text describing something.</p>
    <br />
    <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>